.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  display: flex;

  width: 96%;
}

.button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.contacts {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

table {
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f1f1f1;
}

.delete-button {
  padding: 5px 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.edit-button{
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.bottom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(223, 213, 213);
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  z-index: 1000;
}

.bottom-sheet-content {
  max-width: 600px;
  margin: 0 auto;
}

.cancel-button {
  background-color: #ff4d4d;
}
 #my_contacts_label{
  display: flex;
  justify-content: center;
 }

 #edit_contact_label{
  display: flex;
  justify-content: center;
 }

#empty_list{
  display: flex;
  justify-content: center;
}

.input-container {
  position: relative;
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 0;
}